.navbar {
  background-color: lightblue;
  text-align: center;
  height: 90px;
  font-family: 'Alfa Slab One', sans-serif;
}
h1{
  margin-left: 330px;
}
body {
  background-color:rgb(0, 51, 102);
}
#headings{
float: left;
margin-left: 20px;
margin-top: 20px;
font-family: 'Alfa Slab One', sans-serif;
color: white;
}

h4 {
  font-family: 'Alfa Slab One', sans-serif;
}
.card-img-top {
  width: 200px;
  height: 200px;
  padding: 15px;
}

.card-deck {
  padding: 40px;
  margin-left: 20px;
  margin-right: 20px;
}